:root {
    --primary-gradient: linear-gradient(to bottom, #000A19, #0006104d);
    --primary-color: #000A19;
    --primary-saturated: #00132f85;
    --line-color: rgba(255, 255, 255, 0.508);
    --opacity: 0.5;
    --text-color: white;
    --secondary-text-color: #0085FF;
    --secondary-saturated: #0084ff87;
    --hover-opacity: 0.7;
    --scale: scale(1.03);
    --background-blur: blur(10px);
    --border-radius: 5px;
}

/* Main */
body{
    color: var(--text-color);
    background-color: var(--primary-color);
}

.hidden div, .hidden h1{
    opacity: 0;
    filter: blur(2px);
    transform: translateY(-10%);
    transition: all 1s;
}

.show div, .show h1{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0%);
}

hr{
    color: white;
    opacity: 1;
}

a{
    color: var(--secondary-text-color);
    font-weight: bold;
}

a:hover{
    color: var(--secondary-saturated);
}

a:active{
    color: var(--text-color);
}

a:visited{
    color: var(--secondary-saturated);
}

.container{
    padding-top: 100px;
    padding-bottom: 100px;
}

.button{
    padding: 3px 20px;
    border-radius: var(--border-radius);
    background-color: var(--secondary-saturated);
    color: var(--text-color);
    font-weight: 600;

    border: none;
}

.button:hover, .button-active{
    background-color: var(--secondary-text-color);
    scale: var(--scale);
    transform: var(--scale)
}

.button .col{
    margin-top: auto;
    margin-bottom: auto;
}

.button img{
    width: 55%;
}

.btn-close{
    opacity: 1;
    color: white !important;
    border: none !important;
}

.dropdown{
    display: none;
}

.secondary-text-color{
    color: var(--secondary-text-color);
}

.sub-title{
    font-size: xx-large;
    font-weight: lighter;
}

.description{
    font-weight: lighter;
}

/* Navbar */
.navbar .container{
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-toggler, .btn, .btn-close{
    box-shadow: none !important;
}

nav{
    background: var(--primary-gradient);
    border-bottom: solid 0.5px var(--line-color);
    backdrop-filter: var(--background-blur)
}

nav li a{
    color: var(--text-color) !important;
}

nav li a:hover, #logo:hover{
    opacity: var(--hover-opacity);
    transform: var(--scale)
}

nav li .active{
    /* color: var(--secondary-text-color) !important; */
}

/* Modal */
.modal .modal-content{
    background-color: var(--primary-saturated);
    backdrop-filter: var(--background-blur);
}

/* Home */
#home{
    max-height: auto;
    min-height: 800px;
    width: 100%;
    background: linear-gradient(360deg, #000A19 0%, rgba(0, 0, 0, 0) 19.74%), url(../Images/SpaceBackground.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.heading{
    font-size: 4rem;
}

#home-text{
    margin-top: calc(10% - 10px);
    margin-bottom: auto;
}

#home #profiel-foto{
    max-width: 100%;
    min-width: 150px;
    height: auto;
}

/* About Me */
#about-me{
    max-height: auto;
    min-height: 500px;
    width: 100%;
}

#about-me h1{
    text-align: center;
}

.card-element{
    text-align: center;
    padding: 50px;
}

.card-element .card-icon{
    max-height: 130px;
    min-height: 50px;
    width: auto;
}

.card-element .description{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-height: 45px;
    max-width: 70%;
}

.card-element button{
    margin-left: auto;
    margin-right: auto;
}

#resume-button{
    margin-bottom: 5px;
}

/* About Me Modals */
#hobbies .description span{
    font-weight: bold;
}

#dropdown-year-1{
    display: block;
}

#language-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 50px;
}

#language-row img{
    height: 80%;
    width: auto;
    margin-top: auto;
}

.small-logo{
    height: auto;
    max-width: 40px;
}

#photopea-logo{
    max-width: 30px;
    margin-left: 5px;
}

/* Strengths-and-Weaknesses */
#Strengths-and-Weaknesses{
    min-height: 800px;
    width: 100%;
    background: linear-gradient(360deg, #000a198d 100%, rgba(0, 0, 0, 0) 0%), url(../Images/s-w-background.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#Strengths-and-Weaknesses h1{
    text-align: center;
}

#Strengths-and-Weaknesses .sub-title{
    margin-left: 90px;
}

.s-w-row{
    padding: 0 90px;
}

.s-w-row .middle-col{
    margin: 0 auto;
}

.s-w-row div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px !important;
    padding-top: 10px;
    background-color: var(--primary-saturated);
    border-radius: var(--border-radius);
    backdrop-filter: blur(2px);
}

.s-w-row div img{
    height: 100px;
    width: auto;
    max-width: 150px;
}

.s-w-row div p{
    text-align: center;
}

/* Projects */
#projects h1{
    text-align: center;
}

/* .carousel-inner {
    font-size: 50%;
} */

.carousel{
    width: 65vw;
    margin: 0 auto;
}

.carousel-indicators .active{
    background-color: var(--secondary-text-color);
}

.carousel-indicators button:hover{
    opacity: 1;
}

.carousel-inner .carousel-item {
    position: relative;
    transition-duration: 0.7s;
}

.carousel-inner img{
    opacity: 0.9;
    max-height: 500px;
    width: auto;
    min-height: 300px;

    border-radius: var(--border-radius);
}

.carousel-caption{
    background-color: var(--primary-saturated);
    backdrop-filter: var(--background-blur);
    
    width: fit-content;
    margin: 0 auto;
    padding: 10px 20px;
    margin-bottom: 15px;

    border-radius: var(--border-radius);
}

.carousel-caption .tags{
    color: var(--secondary-text-color);
    font-size: 0.7rem;
    height: 5px;
}

@media only screen and (max-width: 1200px) {
    .carousel{
        width: 90%;
        margin: 0 auto;
    }
    .carousel-caption{
        scale: scale(0.7);
        transform: scale(0.7);
        margin-bottom: 0px;
    }
}

/* Contact */
#contact-me{
    min-height: 700px;
    width: 100%;

    background: linear-gradient(360deg, #000a198d 100%, rgba(0, 0, 0, 0) 0%), url(../Images/Contact-bg.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#contact-me h1{
    text-align: center;
}

#contact-me .main-row{
    width: 70%;
    margin: 0 auto;
}
#contact-me .main-row .column{
    margin: 0 auto;
}

#contact-me .main-row div input{
    width: 100%;
}

#contact-me .main-row div input, #contact-me .main-row div textarea{
    margin-bottom: 10px;
}

#contact-me .main-row div .button img{
    height: 15px;
    width: auto;
}

#contact-me .main-row div .button{
    width: auto;
}

#contact-me .column .info{
    margin: 0 auto;
}

#contact-me .column .info p{
    margin-left: auto;
}

#contact-me .column .info img{
    height: 30px;
    width: auto;
}

#contact-me .column .social{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    width: 80%;
    margin: 0 auto;
}

.social a{
    height: 30px;
    width: auto;
    margin: 0 auto;
}

#contact-me .column .social img{
    height: inherit;
    width: inherit;
}

#contact-me .column .social img:hover{
    scale: var(--scale);
    transform: var(--scale);
    cursor: pointer;
    opacity: var(--opacity);
}

@media only screen and (max-width: 1200px) {
    #contact-me .main-row{
        width: 100%;
        margin: 0 auto;
    }
    #contact-me .main-row {
        gap: 50px;
    }
}
